__pycache__/
*.py[cod]

.venv/
venv/

.env
*.env

.terraform/
*.tfstate
*.tfstate.*
*.tfplan
crash.log

# Python test and coverage artifacts
.coverage
coverage.xml
htmlcov/
.pytest_cache/
__pycache__/

# Variables locales de Terraform
infra/terraform.tfvars
